* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container {
    border: 1px solid #000;
}

.row-container {
    display: flex;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
}