* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#btn-container {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    font-size: 18px;
    padding: 10px;
}

#grid-container {
    width: 600px;
    height: 600px;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex: 1;
}

.cell {
    border: 1px solid #000;
    flex: 1;
}
